* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-background: #09090a;
    --body-background: #252526;
    --counter-screen-background: #1e1e1e;
    --counter-screen-text: yellowgreen;
    --counter-border: rgba(255, 255, 255, 0.3);
    --btn-background: yellowgreen;
    --btn-border: rgba(255, 255, 255, 0.3);
}

.light-mode {
    --header-background: #6366F1;
    --body-background: #F5F6F8;
    --counter-screen-background: #d5eae7;
    --counter-screen-text: rgba(0, 0, 0, 0.95);
    --counter-border: #7e7f80;
    --btn-background: #b0d863;
    --btn-border: #7e7f80;
}

body {
    background-color: var(--body-background);
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100dvh;
    width: 100vw;
}

/* Styles for header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-background);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    color: white;
    padding: 1em 8.5vw;
}

.logo {
    display: flex;
    align-items: center;
}

.logo > i {
    font-size: 1.6rem;
    padding: 0 0.25em;
    color: yellowgreen;
}

.logo > h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#theme-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 5vh;
    background-color: yellowgreen;
    /* border: 2px solid yellowgreen; */
    border-radius: 10px;
    padding: 0.35em;
}

#dark-svg {
    display: none;
}

/* Styles for main section */

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counter-container {
    border: 2px solid var(--counter-border);
    min-height: 80%;
    width: 40%;
    max-width: 450px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.counter-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--counter-screen-text);
    background-color: var(--counter-screen-background);
    text-align: center;
    font-size: 1.75rem;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    height: 70%;
    padding: 1.5em;
}

.counter-screen > p {
    opacity: 85%;
}

.btns {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    height: 30%;
}

.btns > div {
    height: 50%;
    width: 100%;
    display: flex;
}

.btns > div > .btn {
    height: 100%;
    flex-grow: 1;
    font-size: 2.5rem;
}

.btns > div >.btn:nth-child(2) {
    border-left: 2px solid var(--btn-border);
}

.btn {
    cursor: pointer;
    background-color: var(--btn-background);
    border: none;
    border-top: 2px solid var(--btn-border);
    height: 50%;
    font-size: 1.8rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}

.btn:hover {
    background-color: hsl(80, 61%, 45%);
}

.btn:active {
    background-color: hsl(80, 61%, 40%);
}

@media (max-width: 768px) {
    header {
        padding: 1em 5vw;
    }

    .logo > i,
    .logo > h2 {
        font-size: 4vw;
        font-size: clamp(1.25rem, 4vw, 1.5rem);
    }

    #theme-btn {
        height: 5vh;
        width: 5vh;
    }

    .counter-container {
        height: 100%;
        width: 100%;
        max-width: 100%;
        border: none;
        border-radius: 0;
    }

    .counter-screen {
        height: 75%;
    }

    .btns {
        height: 25%;
    }
}
